[submodule "SubModules/NP.DependencyInjection"]
	path = SubModules/NP.DependencyInjection
	url = https://github.com/npolyak/NP.DependencyInjection
	branch = main
[submodule "SubModules/NP.IoC.CommonImplementations"]
	path = SubModules/NP.IoC.CommonImplementations
	url = https://github.com/npolyak/NP.IoC.CommonImplementations.git
[submodule "SubModules/NP.Utilities"]
	path = SubModules/NP.Utilities
	url = https://github.com/npolyak/NP.Utilities.git
