################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyIoCContainerTest/v15
/obj/Debug
/.vs
/bin/Debug
/TESTS/OrganizationTest/bin/Debug
/TESTS/OrgTestWithAssemblyLoading/bin/Debug
/TESTS/OrgTestWithAssemblyLoading/Implementations/Implementations/bin/Debug
/TESTS/OrgTestWithAssemblyLoading/Implementations/Implementations/obj/Debug
/TESTS/OrgTestWithAssemblyLoading/Interfaces/Interfaces/bin/Debug
/TESTS/OrgTestWithAssemblyLoading/Interfaces/Interfaces/obj/Debug
/TESTS/OrgTestWithAssemblyLoading/obj/Debug
/TESTS/OrgTestWithDynamicAssemblyLoading/bin/Debug
/TESTS/OrgTestWithDynamicAssemblyLoading/Implementations/Implementations/bin/Debug
/TESTS/OrgTestWithDynamicAssemblyLoading/Implementations/Implementations/obj/Debug
/TESTS/OrgTestWithDynamicAssemblyLoading/Interfaces/Interfaces/bin/Debug
/TESTS/OrgTestWithDynamicAssemblyLoading/Interfaces/Interfaces/obj/Debug
/TESTS/OrgTestWithDynamicAssemblyLoading/obj/Debug
/TESTS/PluginsTest/bin/Debug
/TESTS/PluginsTest/Interfaces/bin/Debug
/TESTS/PluginsTest/Interfaces/obj/Debug
/TESTS/PluginsTest/obj/Debug
/TESTS/PluginsTest/Plugin1/bin/Debug
/TESTS/PluginsTest/Plugin1/obj/Debug
/TESTS/PluginsTest/Plugin2/bin/Debug
/TESTS/PluginsTest/Plugin2/obj/Debug
/TESTS/AssemblyLoadingTest/bin/Debug
/TESTS/AssemblyLoadingTest/Implementations/Implementations/bin/Debug
/TESTS/AssemblyLoadingTest/Implementations/Implementations/obj/Debug
/TESTS/AssemblyLoadingTest/Interfaces/Interfaces/bin/Debug
/TESTS/AssemblyLoadingTest/Interfaces/Interfaces/obj/Debug
/TESTS/AssemblyLoadingTest/obj/Debug
/TESTS/BootstrappingTest/bin/Debug
/TESTS/BootstrappingTest/obj/Debug
/TESTS/DynamicAssemblyLoadingTest/bin/Debug
/TESTS/DynamicAssemblyLoadingTest/Implementations/Implementations/bin/Debug
/TESTS/DynamicAssemblyLoadingTest/Implementations/Implementations/obj/Debug
/TESTS/DynamicAssemblyLoadingTest/Interfaces/Interfaces/bin/Debug
/TESTS/DynamicAssemblyLoadingTest/Interfaces/Interfaces/obj/Debug
/TESTS/DynamicAssemblyLoadingTest/obj/Debug
/TESTS/MultyPartBootstrappingTest/bin/Debug
/TESTS/MultyPartBootstrappingTest/obj/Debug
/TESTS/AssemblyLoadingTest/Implementations/bin/Debug
/TESTS/AssemblyLoadingTest/Implementations/obj/Debug
*.dll
*.pdb
*.cache
/TESTS/AssemblyLoadingTest/Interfaces/obj/Debug
/TESTS/DynamicAssemblyLoadingTest/Implementations/obj/Debug
/TESTS/DynamicAssemblyLoadingTest/Interfaces/obj/Debug
/TESTS/DynamicAssemblyLoadingTest/MyLogFile.txt
/TESTS/DynamicAssemblyLoadingTest/Implementations/bin/Debug/NP.IoCy.dll.config
/src/bin/Debug/net5.0
/src/obj
/TESTS/AssemblyLoadingTest/Implementations/obj
/TESTS/AssemblyLoadingTest/Interfaces/bin/Debug/net5.0
/TESTS/AssemblyLoadingTest/Interfaces/obj
/TESTS/AssemblyLoadingTest/obj
/TESTS/BootstrappingTest/obj
/TESTS/DynamicAssemblyLoadingTest/Implementations/bin/Debug/net5.0
/TESTS/DynamicAssemblyLoadingTest/Implementations/obj
/TESTS/DynamicAssemblyLoadingTest/Interfaces/bin/Debug/net5.0
/TESTS/DynamicAssemblyLoadingTest/Interfaces/obj
/TESTS/DynamicAssemblyLoadingTest/obj
/TESTS/MultyPartBootstrappingTest/obj
/TESTS/PluginsTest/Interfaces/obj
/TESTS/PluginsTest/obj
/TESTS/PluginsTest/Plugin1/obj
/TESTS/PluginsTest/Plugin2/obj
/src/.vs/NP.IoCy.IoCContainerAndTests
/src/Solution/.vs/NP.IoCy.IoCContainerAndTests
/TESTS/BootstrappingTest/.vs/BootstrappingTest
/TESTS/BootstrappingSingletonTest/.vs
/TESTS/BootstrappingSingletonTest/bin/Debug/net5.0
/TESTS/BootstrappingSingletonTest/obj
/TESTS/AssemblyLoadingTest/.vs/AssemblyLoadingTest/v16
/TESTS/AssemblyLoadingTest/.vs/AssemblyLoadingTest/DesignTimeBuild
/TESTS/DynamicAssemblyLoadingTest/.vs/DynamicAssemblyLoadingTest
/TESTS/PluginsTest/.vs/Plugins/v16
/TESTS/MultyPartBootstrappingTest/.vs/MultyPartBootstrappingTest/v16
/TESTS/MultyPartBootstrappingTest/.vs/MultyPartBootstrappingTest/DesignTimeBuild
/TESTS/AssemblyLoadingTest/.vs/AssemblyLoadingTest
/TESTS/PluginsTest/.vs/Plugins/DesignTimeBuild
/TESTS/MultyPartBootstrappingTest/.vs/MultyPartBootstrappingTest/v17/.suo
/TESTS/MultyPartBootstrappingTest/.vs/MultyPartBootstrappingTest/v17
/TESTS/MultyPartBootstrappingTest/.vs/MultyPartBootstrappingTest/project-colors.json
/Prototypes/IoCSetContainerInCodePrototype/.vs
/Prototypes/IoCSetContainerInCodePrototype/obj
*.nupkg
/TESTS/DynamicAssemblyLoadingTest/.vs/ProjectEvaluation/dynamicassemblyloadingtest.projects.v5.2
/TESTS/DynamicAssemblyLoadingTest/.vs/ProjectEvaluation/dynamicassemblyloadingtest.metadata.v5.2
/TESTS/DynamicAssemblyLoadingTest/.vs/ProjectEvaluation
/TESTS/BootstrappingTest/.vs/ProjectEvaluation/bootstrappingtest.projects.v5.2
/TESTS/BootstrappingTest/.vs/ProjectEvaluation/bootstrappingtest.metadata.v5.2
/TESTS/BootstrappingTest/.vs/ProjectEvaluation
/TESTS/AssemblyLoadingTest/.vs/ProjectEvaluation/assemblyloadingtest.projects.v5.2
/TESTS/AssemblyLoadingTest/.vs/ProjectEvaluation/assemblyloadingtest.metadata.v5.2
/TESTS/AssemblyLoadingTest/.vs/ProjectEvaluation
/src/Solution/.vs/ProjectEvaluation
/TESTS/PluginsTest/.vs/Plugins/FileContentIndex
/TESTS/PluginsTest/.vs/Plugins/v17
/TESTS/PluginsTest/.vs/ProjectEvaluation
/TESTS/DynamicAssemblyLoadingTest/Implementations/bin/Debug/net6.0/DynamicAssemblyLoadingTest.Implementations.deps.json
/src/bin/Debug/net6.0/NP.IoCy.deps.json
/TESTS/AssemblyLoadingTest/Interfaces/bin/Debug/net6.0
/TESTS/TestAllRegisterAndResolveMethods/.vs
/TESTS/TestAllRegisterAndResolveMethods/bin/Debug/net6.0
/TESTS/TestAllRegisterAndResolveMethods/obj
/src/bin/Release/net6.0
/TESTS/TestAllRegisterAndResolveMethods/bin/Release/net6.0
/SubModules/NP.Utilities/src/obj
/TESTS/DynamicAssemblyLoadingTest/bin/Release/net6.0
/TESTS/DynamicAssemblyLoadingTest/Implementations/bin/Release/net6.0
/TESTS/DynamicAssemblyLoadingTest/Interfaces/bin/Release/net6.0
/TESTS/ConstructorTest/.vs
/TESTS/ConstructorTest/bin/Debug/net5.0
/TESTS/ConstructorTest
/Prototypes/IoCSetContainerInCodePrototype/bin/Release/net8.0
